 



{{!-- Products Start --}}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0 text-uppercase">Banners</h6>
            <a href="/admin/offerProducts/"><button id="deletedhistorybtn" style="color: red;">Add New..</button></a>
            <a href="/admin/widebanners/"><button id="deletedhistorybtn" style="color: red;">Add New..Wide banner</button></a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="test">
                <thead>
                    <tr class="text-white" >
                        <th scope="col">No</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Discription</th>
                        <th scope="col">image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- coupon details --}}
                    {{#each offerProducts}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{this.OPname}}</td>
                        <td>{{this.OPdiscription}}</td>
                        <td>
                            <img src="/admin/assets/images/offerproduct-images/{{offerProductImages.[0]}}" alt="" width="50px">
                        </td>
                        <td>
                            <button id="remove" onclick="removeBanner('{{this._id}}')">Remove</button>
                        </td>
                    </tr>
                 
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{!-- Products End --}}


 