




{{!-- Products Start --}}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0 text-uppercase">Categories</h6>
            <button id="deletedhistorybtn" class="commonBlue" onclick="addCategory()">Add categories</button>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="test">
                <thead>
                    <tr class="text-white">
                        <th scope="col">No</th>
                        <th scope="col">Categories</th>
                        <th scope="col">Sub categories</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each categories}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{this.categoryName}}</td>
                        <td>
                            {{#each this.subCategories}}
                            <small>{{this}},</small>
                            {{/each}}
                        </td>
                        <td>
                            <a href="/admin/usecategory/{{this._id}}"><button class="use">Use</button></a>
                            <button class="use" onclick="addSubCategory('{{this.categoryName}}')">add Sub category</button>
                            <button class="remove" onclick="removeCategory('{{this._id}}')">remove</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{!-- Products End --}}


