<div class="body-content">
    <div class="">
        <div class="container">
            <div class="sign-in-page">
                <div class="row">
                    <div class="loginouter" style="padding-top: 3rem;">

                        <div class="col-md-6 col-sm-6 col-xs-12 sign-in mx-0 " style="border-radius: 5px; box-shadow: 0px 1px 8px 4px #dedede">
                            <div id="formouterDiv">
                                <h3>ADD NEW ADDRESS</h3>
                                <form action="/user/addnewaddress" method="post">
                                    <label for="">name</label> <br>
                                    <input type="text" value="{{SUusername}}" name="addressName" required>
                                    <label for="">Address</label> <br>
                                    <input type="text" value="{{SUusername}}" name="Address" required>
                                    <label for="">PIN code</label> <br>
                                    <input type="number" value="{{SUusername}}" name="PIN" required>
                                    <label for="">Street</label> <br>
                                    <input type="text" value="{{SUusername}}" name="Street" required>
                                    <label for="">City</label> <br>
                                    <input type="text" value="{{SUusername}}" name="City" required>
                                    <label for="">District</label> <br>
                                    <input type="text" value="{{SUusername}}" name="District" required>

                                    <a href=""><button type="submit">Update</button></a>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>