{{!-- categories --}}

<link rel="stylesheet" href="/user/assets/stylesheets/categories.css">

<div class="body-content outer-top-vs" id=" " style="  padding-top: 1rem;">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="col-xs-12 col-sm-12 col-md-12 " id="categorySliderOuterBody">
                    <div id="categorySlider">
                        {{#each categoryProduct}}
                        <a href="/getproductsbasedonsubcategory/{{this.subCategories}}">{{this.subCategories}}</a>
                        {{/each}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 homebanner-holder" id="categorySliderOuterBody">
                    <div id="filters">
                        {{#if subCategory}}
                        <small> <a href="/filterbyhightolow/{{categoryname}},-1,{{subCategory}}">Price High to Low</a></small>
                        <small> <a href="/filterbyhightolow/{{categoryname}},1,{{subCategory}}">Price Low to High</a></small>
                        <small> <a href="">Latest</a></small>
                        <small> <a href="">Featured</a></small>
                        {{else}}
                        <small> <a href="/filterbyhightolow/{{categoryname}},-1">Price High to Low</a></small>
                        <small> <a href="/filterbyhightolow/{{categoryname}},1">Price Low to High</a></small>
                        <small> <a href="">Latest</a></small>
                        <small> <a href="">Featured</a></small>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- categories --}}







{{!-- Home contents --}}
<div class="body-content outer-top-vs" id="top-banner-and-menu">
    <div class="container">
        <div class="row">
            <div class="myClass">
                <div class="col-xs-12 col-sm-12 col-md-12 homebanner-holder " style="background-color: white;">
                    <div id="product-tabs-slider" class="scroll-tabs outer-top-vs">
                        <div class="tab-content outer-top-xs">
                            <div class="tab-pane in active" id="all">
                                <div class="product-slider">
                                    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                                        <!-- New product home owl carosal-->
                                        {{#each products}}
                                        <div class="item item-carousel">
                                            <div class="products">
                                                <div class="product">
                                                    <div class="product-image">
                                                        <div class="image">
                                                            <a href="/detail/{{this._id}}" target="_blank" style="height: 37rem;">
                                                                <div>
                                                                    <img src="/admin/assets/images/offerproduct-images/{{productImages.[0]}}" alt="">
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-info text-left" style="">
                                                        <h3 class="name"><a href="/detail/{{this._id}}">{{this.FPname}}</a></h3>
                                                        <div class="rating rateit-small">
                                                            <i class="fa-solid fa-star ratingclr"></i>
                                                            <i class="fa-solid fa-star ratingclr"></i>
                                                            <i class="fa-solid fa-star ratingclr"></i>
                                                            <i class="fa-solid fa-star ratingclr"></i>
                                                            <i class="fa-regular fa-star"></i>
                                                        </div>
                                                        <div class="product-price"> <span class="price" style="color: rgb(8, 202, 8);">₹{{this.FPofferprice}}</span> <span class="price-before-discount">₹{{this.FPorjprice}}</span> </div>
                                                        {{#if outOfStock}}
                                                        <p style="color: red;">Out Of Stock</p>
                                                        {{/if}}
                                                    </div>
                                                    <!--Cart , compare , wishlist start-->
                                                    <div class="cart clearfix animate-effect">
                                                        <div class="action">
                                                            <ul class="list-unstyled">
                                                                {{#if this.outOfStock}}
                                                                <ul class="list-unstyled">
                                                                    <li class="add-cart-button btn-group" style="display: none;">
                                                                        <button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart" onclick="addToCart('{{this._id}}')"> <i class="fa fa-shopping-cart"></i> </button>
                                                                        <button class="btn btn-primary cart-btn" type="">Add to cart</button>
                                                                        {{!-- </a> --}}
                                                                    </li>
                                                                    <li class="add-cart-button btn-group">
                                                                        <button data-toggle="tooltip" class="btn btn-primary icon" style="background-color:#1370da; color: white;" type="button" title="Add to Wishlist" onclick="addToWishList('{{this._id}}')"> <i class="fa fa-heart text-primary" style="color: white;"></i> </button>
                                                                        <button class="btn btn-primary cart-btn" type="button">Add to wishlist</button>
                                                                    </li>
                                                                    <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="/addtocompare/{{this._id}}" title="Compare"> <i class="fa fa-signal"></i> </a> </li>
                                                                </ul>
                                                                {{else}}
                                                                <ul class="list-unstyled">
                                                                    <li class="add-cart-button btn-group">
                                                                        <button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart" onclick="addToCart('{{this._id}}')"> <i class="fa fa-shopping-cart"></i> </button>
                                                                        <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                                                                        {{!-- </a> --}}
                                                                    </li>
                                                                    <li class="add-cart-button btn-group">
                                                                        <button data-toggle="tooltip" class="btn btn-primary icon" style="background-color:#1370da; color: white;" type="button" title="Add to Wishlist" onclick="addToWishList('{{this._id}}')"> <i class="fa fa-heart text-primary" style="color: white;"></i> </button>
                                                                        <button class="btn btn-primary cart-btn" type="button">Add to wishlist</button>
                                                                    </li>
                                                                    <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="/addtocompare/{{this._id}}" title="Compare"> <i class="fa fa-signal"></i> </a> </li>
                                                                </ul>
                                                                {{/if}}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--Cart , compare , wishlist End-->
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- new prodcuts Outer body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Home contents --}}
</div>